form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.criteria {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.inputs {
  width: 500px;
}

p{
    width: 500px;
}