form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

label {
  font-size: 18px;
}

.criteria {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.inputs {
  width: 500px;
}

#p {
  width: 500px;
}

.instruction {
  font-size: 14px;
}

@media only screen and (max-width: 900px) {
  h2 {
    font-size: 10px;
  }

  #form {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-end;
  }

  #p {
    width: 70%;
  }

  .criteria {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
}

  label {
    font-size: 15px;
  }

  .inputs {
    width: 50%;
  }
}
