h2 {
  font-size: 30px;
}

#warning {
  color: red;
  margin: 0;
}

img {
  width: 600px;
  height: auto;
  margin: 20px;
}

#center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions{
  width: 500px;
  margin:0;
}
