#memories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#left {
  width: 400px;
}

iframe{
    width:600px;
    height:450px;    
}

.font{
    
}