#intro {
  width: 500px;
  margin-top: 50px;
}

#memoriesStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

h3{
  font-size:25px;
}