#memories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

p{
  font-size: 18px;
}

#left {
  width: 400px;
}

iframe {
  width: 600px;
  height: 450px;
  border: 0;
}

.instruction{
  font-size: 11px;
}

@media only screen and (max-width: 900px){

}